body {
    font-family: sans-serif;
}

img{
    width:140px ;
    height: 100px;
}

a{
    text-decoration: none;
    margin:40px ;
    font-size: 20px;
    border:2px solid blue;
    padding:5px 15px 5px 15px ;
    border-radius:15px ;
    color:red;
    background-color: blue;
   box-shadow: ;
    
}

p{
    font-size:20px ;
}

.icon{
    width:600px ;
    height:300px;
}
div h1{
    float:right ;
}

a:hover{
    font-size:25px ;
}

